noremap <Leader><C-s> :w <Enter>
noremap <Leader><C-q> :wq <Enter>
noremap <Leader><C-q><C-q> :wq <Enter>
noremap <Leader><C-q><C-a> :wqa <Enter>
noremap <Leader><C-h> :ProjectRootCD<Enter>

" Terminal fix
tnoremap <C-W>n <C-\><C-n>

noremap <Leader><C-m> :MarkdownPreview<Enter>
noremap <Leader><C-r> :OmniSharpRestartServer<Enter>

vmap - <Plug>MoveBlockDown
vmap + <Plug>MoveBlockUp


{#
vim: ft=vim.jinja2
#}
