
{% set regex_search = ".*\/([a-zA-Z_0-9\.-]*)$" %}

{% for plugin in ddf_vim_plugins %}
{% if plugin is mapping and 'name' in plugin %}
{% if 'config' in plugin %}
{% set template = 'plugin_specific/' + plugin.config + '.vimrc.j2'%}
" Config for {{ plugin.name }}
{% include template %}
{% else %}
{% set plugin_name = plugin.name | regex_replace(regex_search, '\\1') %}
" Config for {{ plugin.name }}
{% set template = 'plugin_specific/' + plugin_name + '.vimrc.j2' %}
{% include template ignore missing %}
{% endif %}
{% elif plugin is string %}
{% set plugin_name = plugin | regex_replace(regex_search, '\\1') %}
{% set template = 'plugin_specific/' + plugin_name + '.vimrc.j2' %}
" Config for {{ plugin_name }}
{% include template ignore missing %}
{% endif %}
{% endfor %}


{#
vim: ft=vim.jinja2
#}
