
let g:dotfiles_author = "Tomasz Durda"
let g:dotfiles_email= "tomekdur@wp.pl"

" let &runtimepath.=',~/.config/vim'

let g:OmniSharp_server_use_mono = 1

let g:coc_filetype_map = {
  \ 'yaml.ansible': 'ansible',
  \ }

{#
vim: ft=vim.jinja2
#}
