
###########
## Music ##
###########

bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle # mute
bindsym XF86AudioLowerVolume exec pactl -- set-sink-volume @DEFAULT_SINK@ -5%
bindsym XF86AudioRaiseVolume exec pactl set-sink-mute @DEFAULT_SINK@ 0 && pactl -- set-sink-volume @DEFAULT_SINK@ +5%

{#
vim: ft=i3config.jinja2
#}
