
set $key_command exec --no-startup-id xdotool key --clearmodifiers

bindsym --release h $key_command           Left
bindsym --release j $key_command           Down
bindsym --release k $key_command           Up
bindsym --release l $key_command           Right


bindsym --release a $key_command           braceleft
bindsym --release s $key_command           braceright
 
bindsym --release d $key_command           bracketleft
bindsym --release f $key_command           bracketright

bindsym --release e $key_command           equal
bindsym --release p $key_command           plus
bindsym --release m $key_command           minus
bindsym --release u $key_command           underscore

bindsym --release x $key_command           BackSpace

bindsym --release colon exec --no-startup-id xdotool key       backslash
bindsym --release $mod+colon exec --no-startup-id xdotool key  Shift+backslash


{#
vim: ft=i3config.jinja2
#}
