
set $x_touchpad xinput list | awk ' /[Tt]ouchpad/ {print $0}' | awk 'match($0, /id=([0-9]+)/, a) {print a[1]}'
set $x_mouse xinput list | awk ' /[Mm]ouse/ {print $0}' | awk 'match($0, /id=([0-9]+)/, a) {print a[1]}' 

bindsym s exec "shutdown -h now"
bindsym l exec "i3lock -t -i ~/Wallpapers/Package/logo.LOCK.png && i3-msg mode 'default'"
bindsym Shift+l exec "i3-msg mode 'default' && dm-tool switch-to-greeter"
bindsym e exit

# like i3
bindsym i restart
bindsym Shift+i exec "~/dotfiles/user/df-install-dotfiles && i3-msg restart && notify-send -t 1200 'Installed new dotfiles'"

# based on above(closest letter)
bindsym o reload
bindsym Shift+o exec "~/dotfiles/user/df-install-dotfiles && notify-send -t 1200 'Installed new dotfiles'"
bindsym r exec reboot
bindsym w exec "feh --bg-scale --auto-reload ~/Wallpapers/main && i3-msg mode 'default'"

bindsym t exec "for dev in $($x_touchpad); do xinput disable $dev; done"
bindsym Shift+t exec "for dev in $($x_touchpad); do xinput enable $dev; done"

bindsym m exec "for dev in $($x_mouse); do xinput disable $dev; done"
bindsym Shift+m exec "for dev in $($x_mouse); do xinput enable $dev; done"

bindsym p exec "CURR_IP=$(curl ifconfig.me) && notify-send 'IP copied' $CURR_IP && echo $CURR_IP | xclip -sel clipboard"

{#
vim: ft=i3config.jinja2
#}
