# Load powerline
set -g status-interval 1
set -g status-style "bg=#232621"

set -g pane-active-border-style bg=default,fg=#00ffff
set -g pane-border-style fg=blue

set -g default-terminal "screen-256color"
source "/usr/share/powerline/bindings/tmux/powerline.conf"

{#
vim: ft=tmux.jinja2
#}
