# ZSH config
alias ls='colorls --sd'
alias v='{{ ddf_zsh_v_alias }}'


alias gu='git ls-files --others --exclude-standard'
alias ncmpcpp='ncmpcpp -c ~/.config/ncmpcpp/config -b ~/.config/ncmpcpp/bindings'
alias mopir='systemctl --user restart mopidy.service'

alias mux='tmuxinator'
alias muxs='tmuxinator start' #mux terminate
alias muxt='tmuxinator stop' #mux terminate
alias muxl='tmuxinator list'
alias m='neomutt'
alias sa='for key in ${SSH_ADD_KEYS}; do ssh-add $key; done'

alias gmp="v -c ':set ft=gitcommit' -c ':let g:workspace_session_disable_on_args = 1' $(git rev-parse --show-toplevel)/.git/.new_commit_message"
alias gcap="git commit -aveF $(git rev-parse --show-toplevel)/.git/.new_commit_message && rm $(git rev-parse --show-toplevel)/.git/.new_commit_message"

{#
vim: ft=zsh.jinja2
#}
