# ZSH config
alias ls='colorls --sd'
alias v='{{ ddf_zsh_v_alias }}'


alias gu='git ls-files --others --exclude-standard'
alias ncmpcpp='ncmpcpp -c ~/.config/ncmpcpp/config -b ~/.config/ncmpcpp/bindings'
alias mopir='systemctl --user restart mopidy.service'

alias mux='tmuxinator'
alias muxs='tmuxinator start' #mux terminate
alias muxt='tmuxinator stop' #mux terminate
alias muxl='tmuxinator list'
alias m='neomutt'

{#
vim: ft=zsh.jinja2
#}
