
{% if ddf_zsh_auto_tmux %}

TMUX_STARTED=~/.tmux-started.new-session

if ! tmux info &> /dev/null; then
   touch $TMUX_STARTED
   exec tmux
 elif command -v tmux &> /dev/null && [ -n "$PS1" ] && [[ ! "$TERM" =~ screen ]] && [[ ! "$TERM" =~ tmux ]] && [ -z "$TMUX" ]; then
   exec tmux
fi


if [[ -f "$TMUX_STARTED" ]]; then
   rm ~/.tmux-started.new-session
   neofetch
   echo "New tmux session!"
fi

{% endif %}

# SSH agent auto add
PS1='[\u@\h \W]\$ '
if [ ! -S ~/.ssh/ssh_auth_sock ]; then
  eval `ssh-agent`
  ln -sf "$SSH_AUTH_SOCK" ~/.ssh/ssh_auth_sock
fi
export SSH_AUTH_SOCK=~/.ssh/ssh_auth_sock

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

{#
vim: ft=zsh.jinja2
#}
