{% if ddf_zsh_auto_tmux %}

TMUX_STARTED=~/.tmux-started.new-session

if ! tmux info &> /dev/null; then
   touch TMUX_STARTED
   exec tmux
 elif command -v tmux &> /dev/null && [ -n "$PS1" ] && [[ ! "$TERM" =~ screen ]] && [[ ! "$TERM" =~ tmux ]] && [ -z "$TMUX" ]; then
   exec tmux
fi


if [[ -f "$TMUX_STARTED" ]]; then
   rm ~/.tmux-started.new-session
   neofetch
fi

{% endif %}


{#
vim: ft=zsh.jinja2
#}
