
export TERM="xterm-256color"

# POWERLEVEL customization

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

POWERLEVEL9K_LEFT_PROMPT_ELEMENTS=(os_icon user dir vcs newline)
POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=(vi_mode vim_shell terraform rust_version status root_indicator background_jobs history)


# Set prompt
autoload -Uz promptinit
promptinit

{#
vim: ft=zsh.jinja2
#}
