# Start fuck with a fetch
eval $(thefuck --alias)

# Keyboard laout
setxkbmap -layout {{ddf_zsh_keyboard_layout}}

setopt MENU_COMPLETE
setopt autocd
unsetopt complete_aliases

{#
vim: ft=zsh.jinja2
#}
