noremap <Leader><C-n> :Joshuto<Enter>
noremap <Leader><C-n><C-n> :Joshuto<Enter>
noremap <Leader><C-n><C-v> :vsplit<Enter>:Joshuto<Enter>
noremap <Leader><C-n><C-s> :split<Enter>:Joshuto<Enter>
noremap <Leader><C-n><C-t> :tabnew<Enter>:Joshuto<Enter>

{#
vim: ft=vim.jinja2
#}
