{% for mode in ddf_i3_modes %}

# Mode: {{ mode.name }}

mode "{{ mode.name }}" {
   {% include 'modes/' + mode.name + ".config.j2" %}

   bindsym Return mode "default"
   bindsym Escape mode "default"
   bindsym {{ mode.binding }} mode "default"

}
bindsym {{ mode.binding }} mode "{{ mode.name }}"

{% endfor %}

{#
vim: ft=i3config.jinja2
#}
