
#############
## Startup ##
#############

# Change default workspace
exec i3-msg workspace 1

exec alacritty &
exec_always --no-startup-id pkill glava && i3-msg "OK" && glava &

for_window [workspace="1" class="[Aa]lacritty"] floating enable, resize set 910 910, move position center, move right +450px, move down +10px

for_window [workspace="2" class="[Aa]lacritty"] floating enable, resize set 900 700, move position center, move right +450px

exec --no-startup-id feh --bg-scale --auto-reload ~/Wallpapers/main
exec dunst &
exec unclutter --timeout 1 &

exec_always --no-startup-id $HOME/.config/polybar/launch.sh
exec_always --no-startup-id conky
exec_always "for dev in $($x_touchpad); do xinput disable $dev; done"


exec_always {{ ddf_i3_xrandr }}
exec_always brightnessctl -d `$x_backlight` set 50%
exec --no-startup-id /usr/lib/pam_kwallet_init

{#
vim: ft=i3config.jinja2
#}
