
#############
## Startup ##
#############

exec alacritty &
for_window [workspace="2" class="[Aa]lacritty"] floating enable, resize set 1000 700, move position center, move left +300px

exec --no-startup-id feh --bg-scale --auto-reload ~/Wallpapers/main
exec dunst &
exec unclutter --timeout 1 &

exec_always --no-startup-id $HOME/.config/polybar/launch.sh
exec_always "for dev in $($x_touchpad); do xinput disable $dev; done"


exec_always {{ ddf_i3_xrandr }}
exec --no-startup-id /usr/lib/pam_kwallet_init

{#
vim: ft=i3config.jinja2
#}
