
###########
## Style ##
###########

for_window [class=".*"] border pixel 2
focus_follows_mouse no

no_focus [class="[Gg][Ll]ava"]

client.focused          #f0f0f0 #ffffff #ffffff #ffffff #ffffff

smart_gaps on
gaps outer 15
gaps inner 15

{#
vim: ft=i3config.jinja2
#}
