
################
## Workspaces ##
################

{% for n in range(0,10) %}
set $ws{{ n }} "{{ n }}"
bindsym $mod+{{ n }} workspace $ws{{ n }}
bindsym $mod+Shift+{{ n }} move container to workspace $ws{{ n }}

{% endfor %}

{#
vim: ft=i3config.jinja2
#}

